*{
    scroll-behavior: smooth;
}
body{
    background-color: #0b0c10;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
.starting{
    position: fixed;
    left: 20%;
    z-index: 1;
    background-color: #0b0c10;
    padding: 10px;
    border-radius: 10px;
}
a{
    text-decoration:none;
    color:#66fcf1;
    padding: 10px;

}

a:hover{
    color: #c5c6c7;
}
.home{
    width: 70%;
    height: 60vh;
}

.home .title{
   
    position: relative;
    margin-top: 20%;
    margin-left: 10%;
    overflow: hidden;
}
.hire{
    color: #c5c6c7;
    font-size: medium;
    background-color: #0b0c10;
    width: 110px;
    height: 35px;
    border-color: #45a29e;
    border-radius: 10px;
    position:relative;
    left: 5px;
}
.page1{
    display:flex;
}
.myimage{
    height: 300px;
    width: 300px;
    position: relative;
    top: 50px;
}
.name{
    color: #66fcf1;
}
b{
    color: #66fcf1;
    font-size: 35px;
}   
.hire{
    transition: 1s;
}
.hire:hover{
    transform: scale(1.1);
}
.habout{
    color: #66fcf1;
}
.abpara{
    color: #c5c6c7;
}
.page2{
    display: flex;

}
.cv{
    font-size: medium;
    background-color: #0b0c10;
    border-color: #45a29e;
    color: #c5c6c7;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);

}
.about{
    background-color:#1f2833;
    padding: 40px;
    border-radius: 10px;
}